.container {
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: column; /* Agregada esta línea para establecer la dirección como columna */
  justify-content:flex-start;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: 'VT323', monospace;
  padding: 5px;
  
}

 .image {
  width: 350%;
  height: 60%; /* Asegura que la altura se ajuste al contenedor */
  margin: 2px;
  position: relative;
  object-fit: scale-down; /* La propiedad clave para ajustar la imagen */
  object-position: center; /* Asegura que la imagen se centre dentro del contenedor */
  margin-bottom: 180px;
}
 

 /* Button.module.css */
.btn {
   width: 150px;
   height: 50px;
   border: 1px solid #333;
   font-size: 20px;
   cursor: pointer;
   -webkit-tap-highlight-color: transparent;
   display: flex;
   align-items: center;
   justify-content: center;
   position: relative;
   z-index: 0;
   transition: 1s;
   color: #000;
   font-family: sans-serif;
   font-family: 'VT323', monospace;
 }
 
 .btn::before,
 .btn::after {
   position: absolute;
   background: #e8e8e8;
   z-index: -1;
   transition: 1s;
   content: "";
 }
 
 .btn::before {
   height: 50px;
   width: 130px;
 }
 
 .btn::after {
   width: 150px;
   height: 30px;
 }
 
 .noselect {
   -webkit-touch-callout: none;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
 }
 
 .btn:hover::before {
   width: 0px;
   background: #e8e8e8;
 }
 
 .btn:hover::after {
   height: 0px;
   background: #fff;
 }
 
 .btn:hover {
   background: #fff;
 }
 