@import url("https://fonts.googleapis.com/css2?family=VT323");

:root {
  font-family: "VT323", monospace;
  letter-spacing: 1px;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-image: url("./assets/images/fondo.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  font-family: "Patrick Hand SC";
  letter-spacing: 1px;
}

::selection {
  background-color: #30fbf7;
  color: #270a36;
}
