.container {
  background-color: transparent;
  border: 2px solid #000000;
  backdrop-filter: blur(20px);
  filter: blur(0);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  width: 600px;
  border-radius: 10px;
}

.image {
  width: 200px;
  margin: 10px auto;
  position: relative;
  object-fit: cover;
  padding: 15px;
}

.details {
  width: 55%;
  margin-top: 10px;
  text-align: left;
  text-transform: uppercase;
  line-height: 0.7;
  color: #000;
}

.button {
  font-size: 17px;
  font-weight: bold;
  border: 1px solid #000000;
  border-radius: 0.7em;
  padding: 1px;
  background: #000000;
  margin: 3px;
  font-family: "VT323", monospace;
  font-size: 20;
  text-transform: uppercase;
  cursor: pointer;
}

.button_top {
  display: block;
  box-sizing: border-box;
  border: 2px solid #000;
  border-radius: 0.6em;
  background: #e8e8e8;
  color: #000;
  transform: translateY(-0.05em);
  padding: 6px;
  transition: transform 0.1s ease;
  font-family: "VT323", monospace;
  font-size: 20;
  text-transform: uppercase;
}

.button:hover .button_top {
  transform: translateY(-0.33em);
}

.button:active .button_top {
  transform: translateY(0);
}
