
.container {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
   padding: 5px;
   margin: 10px;
   width: 100%;
   box-sizing: border-box;
   background-color: aquamarine;
  }
 
