.container {
  line-height: 1.5;
}

.error {
  color: rgb(255, 0, 0);
  font-size: 16px;
  margin-top: 5px;
  text-transform: lowercase;
}

.button {
  cursor: pointer;
  font-size: 17px;
  font-weight: bold;
  border: 1px solid #000000;
  border-radius: 0.7em;
  padding: 1px;
  background: #000000;
  margin: 3px;
  font-family: "VT323", monospace;
  font-size: 20;
  text-transform: uppercase;
}

.button_top {
  display: block;
  box-sizing: border-box;
  border: 2px solid #000;
  border-radius: 0.6em;
  background: #e8e8e8;
  color: #000;
  transform: translateY(-0.05em);
  padding: 6px;
  transition: transform 0.1s ease;
  font-family: "VT323", monospace;
  font-size: 20;
  text-transform: uppercase;
}

.button:hover .button_top {
  transform: translateY(-0.33em);
}

.button:active .button_top {
  transform: translateY(0);
}

.button:disabled {
  background-color: #ff0000;
  border-color: #ff0000;
  color: #960000;
  cursor: not-allowed;
}

.button:disabled .button_top {
  background-color: #ff9c9c;
  border-color: #ff0000;
  color: #666666;
  cursor: not-allowed;
}

.input {
  background-color: white;
  color: black;
  border-bottom: 1px solid black;
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
  font-family: "VT323", monospace;
  font-size: 18px;
}

.select {
  color: #000;
  background-color: white;
  font-family: "VT323", monospace;
  border-bottom: 1px solid black;
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
  font-family: "VT323", monospace;
  font-size: 20px;
  margin-right: 7px;
}
