.container {
   background-color: blueviolet;
   align-items: center;
   align-content: center;
   }

   .containerFilter {
      background-color: rgb(182, 142, 219);
      display: flex;
      justify-content: space-evenly; /* Ajusta esta línea */
    }

    .searchBar{
      background-color: rgb(59, 27, 89);
      display: flex;
      justify-content: space-evenly; /* Ajusta esta línea */
    }