/* FormPage.module.css */

.container {
   max-width: 400px;
   margin: auto;
   padding: 20px;
 }
 
 .formGroup {
   margin-bottom: 20px;
 }
 
 .label {
   display: block;
   font-weight: bold;
   margin-bottom: 5px;
 }
 
 .input {
   width: 100%;
   padding: 8px;
   box-sizing: border-box;
 }
 
 .error {
   color: rgb(255, 0, 0);
   font-size: 16px;
   margin-top: 5px;
 }

 .button {
  cursor: pointer;
  font-size: 17px;
  font-weight: bold;
  border: 1px solid #000000; /* Borde negro */
  border-radius: 0.70em;
  padding: 1px;
  background: #000000; /* Fondo gris claro */
  margin: 3px;
  font-family: 'VT323', monospace;
  font-size: 20;
  text-transform: uppercase;
}

.button_top {
  display: block;
  box-sizing: border-box;
  border: 2px solid #000; /* Borde negro */
  border-radius: 0.60em;
  background: #e8e8e8; /* Fondo gris claro */
  color: #000; /* Texto negro */
  transform: translateY(-0.05em);
  padding: 6px;
  transition: transform 0.1s ease;
  font-family: 'VT323', monospace;
  font-size: 20;
  text-transform: uppercase;
}

.button:hover .button_top {
  transform: translateY(-0.33em);
}

.button:active .button_top {
  transform: translateY(0);
}

.button:disabled {
  background-color: #ff0000; /* Cambia el color de fondo cuando el botón está deshabilitado */
  border-color: #ff0000; /* Cambia el color del borde cuando el botón está deshabilitado */
  color: #960000; /* Cambia el color del texto cuando el botón está deshabilitado */
  cursor: not-allowed; /* Cambia el cursor cuando el botón está deshabilitado */
}

.button:disabled .button_top {
  background-color: #ff9c9c; /* Cambia el color de fondo de button_top cuando el botón está deshabilitado */
  border-color: #ff0000; /* Cambia el color del borde de button_top cuando el botón está deshabilitado */
  color: #666666; /* Cambia el color del texto de button_top cuando el botón está deshabilitado */
  cursor: not-allowed; 
}